In [1]:
import pandas as pd

In [221]:
# 데이터 불러오기
a_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_hh.csv")
a_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_id.csv")
a_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_ind.csv")
a_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_ms.csv")
a_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_phi.csv")

b_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_hh.csv")
b_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_id.csv")
b_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_ind.csv")
b_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_ms.csv")
b_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_phi.csv")

c_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_hh.csv")
c_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_id.csv")
c_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_ind.csv")
c_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_ms.csv")
c_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_phi.csv")

# PHI 데이터 구조 확인

In [222]:
# a -> 19, b -> 20, c->21 각 데이터에 연도 컬럼 추가하기
a_phi["year"] = 2019
b_phi["year"] = 2020
c_phi["year"] = 2021

In [223]:
a_phi.shape

(21538, 26)

In [224]:
b_phi.shape

(21345, 26)

In [225]:
c_phi.shape

(21392, 26)

In [228]:
b_phi.iloc[:,:8]

,HHID,PHI_N,PHI_PID,PHI_PID1,PHI_PID2,PHI_PID3,PHI_PID4,PHI_PID5
0,144191011.0,301.0,...,14419101.0,NaN,NaN,NaN,NaN
1,244007011.0,201.0,...,24400702.0,NaN,NaN,NaN,NaN
2,112185011.0,102.0,...,11218502.0,NaN,NaN,NaN,NaN
3,125103011.0,109.0,...,12510302.0,NaN,NaN,NaN,NaN
4,232548011.0,201.0,...,23254802.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
21340,155292011.0,207.0,...,15529202.0,NaN,NaN,NaN,NaN
21341,214255011.0,203.0,...,21425502.0,NaN,NaN,NaN,NaN
21342,214202011.0,106.0,...,21420202.0,NaN,NaN,NaN,NaN
21343,122154011.0,102.0,12215401/12215402/12215404/12215405,12215401.0,12215402.0,12215404.0,12215405.0,NaN
21344,202253011.0,101.0,20225301/20225302/20225303/20225304,20225301.0,20225302.0,20225303.0,20225304.0,NaN

# 전처리

## 데이터 병합

In [107]:
a = a_phi.columns
b = b_phi.columns
c = c_phi.columns

In [108]:
a

Index(['HHID', 'PHI_N', 'PHI_PID', 'PHI_PID1', 'PHI_PID2', 'PHI_PID3',
       'PHI_PID4', 'PHI_PID5', 'PHI1', 'PHI2', 'PHI3', 'PHI4', 'PHI4_1_D',
       'PHI4_2_D', 'PHI4_3_D', 'PHI4_4_D', 'PHI4_5_D', 'PHI4_6_D', 'PHI4_7_D',
       'PHI4_8_D', 'PHI5', 'PHI6', 'PHR1', 'PHR2', 'PHR3', 'year'],
      dtype='object')

In [109]:
a == b

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [110]:
a == c

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [111]:
b == c

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

- a, b, c는 모두 같은 컬럼을 갖는다.

In [112]:
# 병합
phi = pd.concat([a_phi, b_phi, c_phi])
phi.shape

(64275, 26)

In [200]:
phi["year"].value_counts()

year
2019    21538
2021    21392
2020    21345
Name: count, dtype: int64

## 변수명 변경

In [113]:
phi.columns

Index(['HHID', 'PHI_N', 'PHI_PID', 'PHI_PID1', 'PHI_PID2', 'PHI_PID3',
       'PHI_PID4', 'PHI_PID5', 'PHI1', 'PHI2', 'PHI3', 'PHI4', 'PHI4_1_D',
       'PHI4_2_D', 'PHI4_3_D', 'PHI4_4_D', 'PHI4_5_D', 'PHI4_6_D', 'PHI4_7_D',
       'PHI4_8_D', 'PHI5', 'PHI6', 'PHR1', 'PHR2', 'PHR3', 'year'],
      dtype='object')

In [114]:
phi.columns = ["HHID", "PHI_N","PHI_PID","PIDWON1","PIDWON2","PIDWON3","PIDWON4","PIDWON5", "PHI_Y","PHI_M","PHI_FORM","PHI_TYPE","PHI_TYPE_D","PHI_TYPE_C","PHI_TYPE_A","PHI_TYPE_N","PHI_TYPE_T","PHI_TYPE_AL","PHI_TYPE_M","PHI_TYPE_O","PHI_premium_yn","PHI_premium","PHI_claim_yn","PHI_benefit_yn","PHI_benefit", "year"]

In [115]:
phi.columns

Index(['HHID', 'PHI_N', 'PHI_PID', 'PIDWON1', 'PIDWON2', 'PIDWON3', 'PIDWON4',
       'PIDWON5', 'PHI_Y', 'PHI_M', 'PHI_FORM', 'PHI_TYPE', 'PHI_TYPE_D',
       'PHI_TYPE_C', 'PHI_TYPE_A', 'PHI_TYPE_N', 'PHI_TYPE_T', 'PHI_TYPE_AL',
       'PHI_TYPE_M', 'PHI_TYPE_O', 'PHI_premium_yn', 'PHI_premium',
       'PHI_claim_yn', 'PHI_benefit_yn', 'PHI_benefit', 'year'],
      dtype='object')

## 결측값 변경

In [116]:
phi.isna().sum()

HHID                  0
PHI_N                 0
PHI_PID               0
PIDWON1               0
PIDWON2           63691
PIDWON3           64158
PIDWON4           64228
PIDWON5           64273
PHI_Y                 0
PHI_M                 0
PHI_FORM              0
PHI_TYPE           9392
PHI_TYPE_D         9392
PHI_TYPE_C         9392
PHI_TYPE_A         9392
PHI_TYPE_N         9392
PHI_TYPE_T         9392
PHI_TYPE_AL        9392
PHI_TYPE_M         9392
PHI_TYPE_O         9392
PHI_premium_yn        0
PHI_premium           0
PHI_claim_yn          0
PHI_benefit_yn    59142
PHI_benefit       59270
year                  0
dtype: int64

In [ ]:
# -9 결측값으로 변경
import numpy as np

phi[phi==-9] = np.nan

In [120]:
phi.isna().sum()

HHID                  0
PHI_N                 0
PHI_PID               0
PIDWON1               0
PIDWON2           63691
PIDWON3           64158
PIDWON4           64228
PIDWON5           64273
PHI_Y              3895
PHI_M             19577
PHI_FORM            905
PHI_TYPE           9392
PHI_TYPE_D        10801
PHI_TYPE_C        10801
PHI_TYPE_A        10801
PHI_TYPE_N        10801
PHI_TYPE_T        10801
PHI_TYPE_AL       10801
PHI_TYPE_M        10801
PHI_TYPE_O        10801
PHI_premium_yn      803
PHI_premium        3187
PHI_claim_yn        462
PHI_benefit_yn    59142
PHI_benefit       59283
year                  0
dtype: int64

## 가구 별 단독 가입만 추출

In [203]:
# 동시가입 건수 : 21729 건
phi.loc[phi["PHI_PID"].str.len() >= 9, :]

,HHID,PHI_N,PHI_PID,PIDWON1,PIDWON2,PIDWON3,PIDWON4,PIDWON5,PHI_Y,PHI_M,...,PHI_TYPE_T,PHI_TYPE_AL,PHI_TYPE_M,PHI_TYPE_O,PHI_premium_yn,PHI_premium,PHI_claim_yn,PHI_benefit_yn,PHI_benefit,year
86,112075011.0,105.0,"11207501,11207502",11207501.0,11207502.0,NaN,NaN,NaN,2003.0,8.0,...,2.0,2.0,2.0,2.0,1.0,34980.0,2.0,NaN,NaN,2019
368,112202011.0,102.0,"11220201,11220202",11220201.0,11220202.0,NaN,NaN,NaN,2003.0,6.0,...,NaN,NaN,NaN,NaN,1.0,14790.0,1.0,1.0,365256.0,2019
879,114008011.0,103.0,"11400801,11400802",11400801.0,11400802.0,NaN,NaN,NaN,1996.0,NaN,...,2.0,2.0,2.0,2.0,3.0,40000.0,2.0,NaN,NaN,2019
968,114068011.0,102.0,"11406801,11406802",11406801.0,11406802.0,NaN,NaN,NaN,2015.0,4.0,...,2.0,2.0,2.0,2.0,1.0,38900.0,2.0,NaN,NaN,2019
1322,115106011.0,105.0,"11510602,11510603",11510602.0,11510603.0,NaN,NaN,NaN,2014.0,1.0,...,2.0,2.0,1.0,2.0,1.0,100000.0,2.0,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20736,254486011.0,105.0,"25448601,25448602",25448601.0,25448602.0,NaN,NaN,NaN,1993.0,6.0,...,2.0,2.0,2.0,2.0,3.0,29200.0,2.0,NaN,NaN,2021
20882,255068011.0,301.0,"25506801,25506802",25506801.0,25506802.0,NaN,NaN,NaN,2008.0,3.0,...,2.0,2.0,2.0,2.0,1.0,105300.0,2.0,NaN,NaN,2021
21126,255465011.0,102.0,"25546501,25546502",25546501.0,25546502.0,NaN,NaN,NaN,2006.0,3.0,...,2.0,2.0,2.0,2.0,1.0,216570.0,1.0,1.0,270000.0,2021
21140,255468011.0,108.0,"25546801,25546802,25546803,25546804",25546801.0,25546802.0,25546803.0,25546804.0,NaN,2010.0,10.0,...,2.0,2.0,2.0,1.0,1.0,36410.0,1.0,1.0,120000.0,2021
21268,300046011.0,103.0,"30004604,30004605,30004606",30004604.0,30004605.0,30004606.0,NaN,NaN,1995.0,7.0,...,2.0,2.0,2.0,2.0,3.0,42520.0,2.0,NaN,NaN,2021

In [204]:
# 독립가입 건 : 총 42546 행
phi_only = phi.loc[phi["PHI_PID"].str.len() < 9, :]

In [205]:
phi_only['year'].value_counts()

year
2019    21339
2021    21207
Name: count, dtype: int64

In [170]:
phi_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42546 entries, 0 to 21391
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HHID            42546 non-null  float64
 1   PHI_N           42546 non-null  float64
 2   PHI_PID         42546 non-null  object
 3   PIDWON1         42546 non-null  float64
 4   PIDWON2         0 non-null      float64
 5   PIDWON3         0 non-null      float64
 6   PIDWON4         0 non-null      float64
 7   PIDWON5         0 non-null      float64
 8   PHI_Y           39913 non-null  float64
 9   PHI_M           29173 non-null  float64
 10  PHI_FORM        41896 non-null  float64
 11  PHI_TYPE        36171 non-null  object
 12  PHI_TYPE_D      35010 non-null  float64
 13  PHI_TYPE_C      35010 non-null  float64
 14  PHI_TYPE_A      35010 non-null  float64
 15  PHI_TYPE_N      35010 non-null  float64
 16  PHI_TYPE_T      35010 non-null  float64
 17  PHI_TYPE_AL     35010 non-null  float64
 18  PHI_TYPE_M      35010 non-null  float64
 19  PHI_TYPE_O      35010 non-null  float64
 20  PHI_premium_yn  41953 non-null  float64
 21  PHI_premium     40343 non-null  float64
 22  PHI_claim_yn    42170 non-null  float64
 23  PHI_benefit_yn  3180 non-null   float64
 24  PHI_benefit     3069 non-null   float64
 25  year            42546 non-null  int64
dtypes: float64(23), int64(1), object(2)
memory usage: 8.8+ MB

In [171]:
# PHI_PID, PIDWON2~5 삭제
phi_only.drop(["PHI_PID","PIDWON2","PIDWON3","PIDWON4","PIDWON5"], axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_21124\1473125934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phi_only.drop(["PHI_PID","PIDWON2","PIDWON3","PIDWON4","PIDWON5"], axis=1, inplace=True)

In [176]:
# PIDWON 변수명 변경
phi_only = phi_only.rename(columns={"PIDWON1":"PIDWON"})

In [177]:
phi_only.head()

,HHID,PHI_N,PIDWON,PHI_Y,PHI_M,PHI_FORM,PHI_TYPE,PHI_TYPE_D,PHI_TYPE_C,PHI_TYPE_A,...,PHI_TYPE_T,PHI_TYPE_AL,PHI_TYPE_M,PHI_TYPE_O,PHI_premium_yn,PHI_premium,PHI_claim_yn,PHI_benefit_yn,PHI_benefit,year
0,112003011.0,101.0,11200301.0,2004.0,NaN,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,120000.0,1.0,1.0,60000.0,2019
1,112003011.0,102.0,11200302.0,2004.0,NaN,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,118000.0,2.0,NaN,NaN,2019
2,112010011.0,101.0,11201001.0,2015.0,3.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,48710.0,2.0,NaN,NaN,2019
3,112010011.0,102.0,11201001.0,2000.0,7.0,1.0,"1,2",1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,3.0,62800.0,2.0,NaN,NaN,2019
4,112010011.0,103.0,11201002.0,2012.0,2.0,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,201717.0,2.0,NaN,NaN,2019

In [178]:
# csv 파일로 저장
phi_only.to_csv('C:\\Users\\user\\Desktop\\중간프로젝트\\의료패널 데이터\\csv파일\\phi_only.csv', index=False)

# 변수 별 count 확인

In [185]:
phi_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42546 entries, 0 to 21391
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HHID            42546 non-null  float64
 1   PHI_N           42546 non-null  float64
 2   PIDWON          42546 non-null  float64
 3   PHI_Y           39913 non-null  float64
 4   PHI_M           29173 non-null  float64
 5   PHI_FORM        41896 non-null  float64
 6   PHI_TYPE        36171 non-null  object
 7   PHI_TYPE_D      35010 non-null  float64
 8   PHI_TYPE_C      35010 non-null  float64
 9   PHI_TYPE_A      35010 non-null  float64
 10  PHI_TYPE_N      35010 non-null  float64
 11  PHI_TYPE_T      35010 non-null  float64
 12  PHI_TYPE_AL     35010 non-null  float64
 13  PHI_TYPE_M      35010 non-null  float64
 14  PHI_TYPE_O      35010 non-null  float64
 15  PHI_premium_yn  41953 non-null  float64
 16  PHI_premium     40343 non-null  float64
 17  PHI_claim_yn    42170 non-null  float64
 18  PHI_benefit_yn  3180 non-null   float64
 19  PHI_benefit     3069 non-null   float64
 20  year            42546 non-null  int64
dtypes: float64(19), int64(1), object(1)
memory usage: 7.1+ MB

In [194]:
phi_only.isna().sum()

HHID                  0
PHI_N                 0
PIDWON                0
PHI_Y              2633
PHI_M             13373
PHI_FORM            650
PHI_TYPE           6375
PHI_TYPE_D         7536
PHI_TYPE_C         7536
PHI_TYPE_A         7536
PHI_TYPE_N         7536
PHI_TYPE_T         7536
PHI_TYPE_AL        7536
PHI_TYPE_M         7536
PHI_TYPE_O         7536
PHI_premium_yn      593
PHI_premium        2203
PHI_claim_yn        376
PHI_benefit_yn    39366
PHI_benefit       39477
year                  0
dtype: int64

In [ ]:
# 가구원 수 : 11717 명
phi_only["PIDWON"].nunique()

11717

In [199]:
phi_only["year"].value_counts()

year
2019    21339
2021    21207
Name: count, dtype: int64

In [ ]:
# 가구 수: 5287 가구
phi_only["HHID"].nunique()

5287

In [ ]:
# 보험 종류 수: 109 개
phi_only["PHI_N"].nunique()

109

## 보험금 수령 / 보험금 청구

In [ ]:
# 청구 건 수: 3180 건
phi_only["PHI_claim_yn"].value_counts()

PHI_claim_yn
2.0    38990
1.0     3180
Name: count, dtype: int64

In [ ]:
# 보험금 수령 건 : 3082 건
phi_only["PHI_benefit_yn"].value_counts()

PHI_benefit_yn
1.0    3082
2.0      85
3.0      13
Name: count, dtype: int64

In [ ]:
# 청구 대비 보험금 수령비율
3082/3180

0.9691823899371069

# 2019년 데이터(a_phi) 살펴보기

In [179]:
a_19 = phi_only.loc[phi_only["year"]==2019]

In [180]:
a_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21339 entries, 0 to 21537
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HHID            21339 non-null  float64
 1   PHI_N           21339 non-null  float64
 2   PIDWON          21339 non-null  float64
 3   PHI_Y           19923 non-null  float64
 4   PHI_M           13232 non-null  float64
 5   PHI_FORM        20818 non-null  float64
 6   PHI_TYPE        17739 non-null  object
 7   PHI_TYPE_D      16850 non-null  float64
 8   PHI_TYPE_C      16850 non-null  float64
 9   PHI_TYPE_A      16850 non-null  float64
 10  PHI_TYPE_N      16850 non-null  float64
 11  PHI_TYPE_T      16850 non-null  float64
 12  PHI_TYPE_AL     16850 non-null  float64
 13  PHI_TYPE_M      16850 non-null  float64
 14  PHI_TYPE_O      16850 non-null  float64
 15  PHI_premium_yn  20868 non-null  float64
 16  PHI_premium     19980 non-null  float64
 17  PHI_claim_yn    20989 non-null  float64
 18  PHI_benefit_yn  1255 non-null   float64
 19  PHI_benefit     1169 non-null   float64
 20  year            21339 non-null  int64
dtypes: float64(19), int64(1), object(1)
memory usage: 3.6+ MB

In [134]:
# 총 67 종류의 보험
a_19["PHI_N"].value_counts()

PHI_N
101.0    4355
102.0    3699
103.0    2755
104.0    2051
201.0    1427
         ...
134.0       1
230.0       1
231.0       1
232.0       1
233.0       1
Name: count, Length: 67, dtype: int64

In [135]:
# 동시가입인(피보험자)이 5명인 경우 -> 1건
a_19["PIDWON5"].value_counts()

PIDWON5
19413505.0    1
Name: count, dtype: int64

In [136]:
a_19.loc[a_19["PIDWON5"] == 19413505]

,HHID,PHI_N,PHI_PID,PIDWON1,PIDWON2,PIDWON3,PIDWON4,PIDWON5,PHI_Y,PHI_M,...,PHI_TYPE_T,PHI_TYPE_AL,PHI_TYPE_M,PHI_TYPE_O,PHI_premium_yn,PHI_premium,PHI_claim_yn,PHI_benefit_yn,PHI_benefit,year
12336,194135011.0,102.0,"19413501,19413502,19413503,19413504,19413505",19413501.0,19413502.0,19413503.0,19413504.0,19413505.0,2007.0,NaN,...,2.0,2.0,2.0,2.0,1.0,NaN,2.0,NaN,NaN,2019

In [141]:
# 동시 가입인이 4명인 경우
pidwon4_count = a_19["PIDWON4"].value_counts()
len(pidwon4_count)

17

In [89]:
# 동시가입인이 없는 경우 (본인만 가입) -> 10672 
a_19["PIDWON1"].value_counts()

PIDWON1
17525301.0    30
15527901.0    20
19511902.0    18
23404002.0    16
17550202.0    16
              ..
17523504.0     1
17523503.0     1
17523502.0     1
17523404.0     1
40000802.0     1
Name: count, Length: 10672, dtype: int64

In [ ]:
# 동시가입인이 2명인 경우 -> 191
a_19["PIDWON2"].value_counts()

PIDWON2
23450902.0    3
18225404.0    2
25448602.0    2
17550102.0    2
16223602.0    2
             ..
16218102.0    1
16220105.0    1
16223302.0    1
16227702.0    1
30004605.0    1
Name: count, Length: 191, dtype: int64

In [91]:
# 동시가입인이 2명인 경우 -> 191
a_19["PIDWON3"].value_counts()

PIDWON3
12215204.0    1
21535303.0    1
20322004.0    1
20337304.0    1
20505203.0    1
20508803.0    1
21203803.0    1
21218605.0    1
21222104.0    1
21231904.0    1
21535503.0    1
19510903.0    1
23300203.0    1
23339203.0    1
24227803.0    1
24404203.0    1
24503203.0    1
24521903.0    1
25340803.0    1
25546803.0    1
20225304.0    1
19413503.0    1
12215404.0    1
14217203.0    1
12307304.0    1
12307603.0    1
12317804.0    1
12403503.0    1
12510604.0    1
13307404.0    1
13307403.0    1
13508104.0    1
14543604.0    1
19306403.0    1
14547904.0    1
15421603.0    1
15505203.0    1
17410504.0    1
17454404.0    1
18333703.0    1
18352703.0    1
18503303.0    1
30004606.0    1
Name: count, dtype: int64