In [160]:
import pandas as pd

In [161]:
# 데이터 불러오기
a_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_hh.csv")
a_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_id.csv")
a_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_ind.csv")
a_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_ms.csv")
a_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/a_phi.csv")

b_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_hh.csv")
b_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_id.csv")
b_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_ind.csv")
b_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_ms.csv")
b_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/b_phi.csv")

c_hh = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_hh.csv")
c_id = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_id.csv")
c_ind = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_ind.csv")
c_ms = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_ms.csv")
c_phi = pd.read_csv("C:/Users/user/Desktop/중간프로젝트/의료패널 데이터/csv파일/c_phi.csv")

# PHI 데이터 구조 확인

In [162]:
# a -> 19, b -> 20, c->21 각 데이터에 연도 컬럼 추가하기
a_phi["year"] = 2019
b_phi["year"] = 2020
c_phi["year"] = 2021

In [163]:
a_phi.shape

(21538, 26)

In [164]:
b_phi.shape

(21345, 26)

In [165]:
c_phi.shape

(21392, 26)

## b_phi[PHI_PID]
- a, c는 PHI_PID에 문제 없는데 b는 ...으로 표시된 행이 너무 많아!
- 나중에 PHI_PID가 9글자 이상인 걸 중복가입으로 생각하고 제거해줄 건데 데이터가 이꼴이면 문제가 있다! 전처리 해줘야 한당

In [166]:
b_phi.iloc[:,:8]

,HHID,PHI_N,PHI_PID,PHI_PID1,PHI_PID2,PHI_PID3,PHI_PID4,PHI_PID5
0,144191011.0,301.0,...,14419101.0,NaN,NaN,NaN,NaN
1,244007011.0,201.0,...,24400702.0,NaN,NaN,NaN,NaN
2,112185011.0,102.0,...,11218502.0,NaN,NaN,NaN,NaN
3,125103011.0,109.0,...,12510302.0,NaN,NaN,NaN,NaN
4,232548011.0,201.0,...,23254802.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
21340,155292011.0,207.0,...,15529202.0,NaN,NaN,NaN,NaN
21341,214255011.0,203.0,...,21425502.0,NaN,NaN,NaN,NaN
21342,214202011.0,106.0,...,21420202.0,NaN,NaN,NaN,NaN
21343,122154011.0,102.0,12215401/12215402/12215404/12215405,12215401.0,12215402.0,12215404.0,12215405.0,NaN
21344,202253011.0,101.0,20225301/20225302/20225303/20225304,20225301.0,20225302.0,20225303.0,20225304.0,NaN

In [167]:
b_phi["PHI_PID"]

0                                                      ...
1                                                      ...
2                                                      ...
3                                                      ...
4                                                      ...
                               ...
21340                                                  ...
21341                                                  ...
21342                                                  ...
21343                  12215401/12215402/12215404/12215405
21344                  20225301/20225302/20225303/20225304
Name: PHI_PID, Length: 21345, dtype: object

In [168]:
# 결측값으로 표시된게 없어! ...으로 기입된건가?
b_phi["PHI_PID"].isna().sum()

0

In [169]:
# 공백인건가..?
b_phi["PHI_PID"].value_counts()

PHI_PID
                                                                                                                                                                                                17525301    30
                                                                                                                                                                                                12324702    22
                                                                                                                                                                                                23504401    21
                                                                                                                                                                                                15424701    21
                                                                                                                                                                                                15527901    20
                                                                                                                                                                                                            ..
                                                                                                                                                                                                16251502     1
                                                                                                                                                                                                13319102     1
                                                                                                                                                                                                22352904     1
                                                                                                                                                                                                22402401     1
20225301/20225302/20225303/20225304                                                                                                                                                                          1
Name: count, Length: 10045, dtype: int64

In [170]:
b_phi.loc[b_phi["PHI_PID"]=="...", "PHI_PID"]

Series([], Name: PHI_PID, dtype: object)

In [171]:
b_phi.loc[b_phi["PHI_PID"]==" ", "PHI_PID"]

Series([], Name: PHI_PID, dtype: object)

In [172]:
# 일단 공백제거,..!
b_phi["PHI_PID"] = b_phi["PHI_PID"].str.strip()
b_phi["PHI_PID"].value_counts()

PHI_PID
17525301                               30
12324702                               22
23504401                               21
15424701                               21
15527901                               20
                                       ..
16251502                                1
13319102                                1
22352904                                1
22402401                                1
20225301/20225302/20225303/20225304     1
Name: count, Length: 10045, dtype: int64

In [173]:
b_phi.iloc[:,:8] # 해결!

,HHID,PHI_N,PHI_PID,PHI_PID1,PHI_PID2,PHI_PID3,PHI_PID4,PHI_PID5
0,144191011.0,301.0,14419101,14419101.0,NaN,NaN,NaN,NaN
1,244007011.0,201.0,24400702,24400702.0,NaN,NaN,NaN,NaN
2,112185011.0,102.0,11218502,11218502.0,NaN,NaN,NaN,NaN
3,125103011.0,109.0,12510302,12510302.0,NaN,NaN,NaN,NaN
4,232548011.0,201.0,23254802,23254802.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
21340,155292011.0,207.0,15529202,15529202.0,NaN,NaN,NaN,NaN
21341,214255011.0,203.0,21425502,21425502.0,NaN,NaN,NaN,NaN
21342,214202011.0,106.0,21420202,21420202.0,NaN,NaN,NaN,NaN
21343,122154011.0,102.0,12215401/12215402/12215404/12215405,12215401.0,12215402.0,12215404.0,12215405.0,NaN
21344,202253011.0,101.0,20225301/20225302/20225303/20225304,20225301.0,20225302.0,20225303.0,20225304.0,NaN

# 전처리

## 데이터 병합

In [174]:
a = a_phi.columns
b = b_phi.columns
c = c_phi.columns

In [175]:
a

Index(['HHID', 'PHI_N', 'PHI_PID', 'PHI_PID1', 'PHI_PID2', 'PHI_PID3',
       'PHI_PID4', 'PHI_PID5', 'PHI1', 'PHI2', 'PHI3', 'PHI4', 'PHI4_1_D',
       'PHI4_2_D', 'PHI4_3_D', 'PHI4_4_D', 'PHI4_5_D', 'PHI4_6_D', 'PHI4_7_D',
       'PHI4_8_D', 'PHI5', 'PHI6', 'PHR1', 'PHR2', 'PHR3', 'year'],
      dtype='object')

In [176]:
a == b

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [177]:
a == c

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [178]:
b == c

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

- a, b, c는 모두 같은 컬럼을 갖는다.

In [179]:
# 병합
phi = pd.concat([a_phi, b_phi, c_phi])
phi.shape

(64275, 26)

In [180]:
phi["year"].value_counts()

year
2019    21538
2021    21392
2020    21345
Name: count, dtype: int64

## 변수명 변경

In [181]:
phi.columns

Index(['HHID', 'PHI_N', 'PHI_PID', 'PHI_PID1', 'PHI_PID2', 'PHI_PID3',
       'PHI_PID4', 'PHI_PID5', 'PHI1', 'PHI2', 'PHI3', 'PHI4', 'PHI4_1_D',
       'PHI4_2_D', 'PHI4_3_D', 'PHI4_4_D', 'PHI4_5_D', 'PHI4_6_D', 'PHI4_7_D',
       'PHI4_8_D', 'PHI5', 'PHI6', 'PHR1', 'PHR2', 'PHR3', 'year'],
      dtype='object')

In [182]:
phi.columns = ["HHID", "PHI_N","PHI_PID","PIDWON1","PIDWON2","PIDWON3","PIDWON4","PIDWON5", "PHI_Y","PHI_M","PHI_FORM","PHI_TYPE","PHI_TYPE_D","PHI_TYPE_C","PHI_TYPE_A","PHI_TYPE_N","PHI_TYPE_T","PHI_TYPE_AL","PHI_TYPE_M","PHI_TYPE_O","PHI_premium_yn","PHI_premium","PHI_claim_yn","PHI_benefit_yn","PHI_benefit", "year"]

In [183]:
phi.columns

Index(['HHID', 'PHI_N', 'PHI_PID', 'PIDWON1', 'PIDWON2', 'PIDWON3', 'PIDWON4',
       'PIDWON5', 'PHI_Y', 'PHI_M', 'PHI_FORM', 'PHI_TYPE', 'PHI_TYPE_D',
       'PHI_TYPE_C', 'PHI_TYPE_A', 'PHI_TYPE_N', 'PHI_TYPE_T', 'PHI_TYPE_AL',
       'PHI_TYPE_M', 'PHI_TYPE_O', 'PHI_premium_yn', 'PHI_premium',
       'PHI_claim_yn', 'PHI_benefit_yn', 'PHI_benefit', 'year'],
      dtype='object')

## 결측값 변경

In [184]:
phi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64275 entries, 0 to 21391
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HHID            64275 non-null  float64
 1   PHI_N           64275 non-null  float64
 2   PHI_PID         64275 non-null  object
 3   PIDWON1         64275 non-null  float64
 4   PIDWON2         584 non-null    float64
 5   PIDWON3         117 non-null    float64
 6   PIDWON4         47 non-null     float64
 7   PIDWON5         2 non-null      float64
 8   PHI_Y           64275 non-null  float64
 9   PHI_M           64275 non-null  float64
 10  PHI_FORM        64275 non-null  float64
 11  PHI_TYPE        54883 non-null  object
 12  PHI_TYPE_D      54883 non-null  float64
 13  PHI_TYPE_C      54883 non-null  float64
 14  PHI_TYPE_A      54883 non-null  float64
 15  PHI_TYPE_N      54883 non-null  float64
 16  PHI_TYPE_T      54883 non-null  float64
 17  PHI_TYPE_AL     54883 non-null  float64
 18  PHI_TYPE_M      54883 non-null  float64
 19  PHI_TYPE_O      54883 non-null  float64
 20  PHI_premium_yn  64275 non-null  float64
 21  PHI_premium     64275 non-null  float64
 22  PHI_claim_yn    64275 non-null  float64
 23  PHI_benefit_yn  5133 non-null   float64
 24  PHI_benefit     5005 non-null   float64
 25  year            64275 non-null  int64
dtypes: float64(23), int64(1), object(2)
memory usage: 13.2+ MB

In [185]:
phi.isna().sum()

HHID                  0
PHI_N                 0
PHI_PID               0
PIDWON1               0
PIDWON2           63691
PIDWON3           64158
PIDWON4           64228
PIDWON5           64273
PHI_Y                 0
PHI_M                 0
PHI_FORM              0
PHI_TYPE           9392
PHI_TYPE_D         9392
PHI_TYPE_C         9392
PHI_TYPE_A         9392
PHI_TYPE_N         9392
PHI_TYPE_T         9392
PHI_TYPE_AL        9392
PHI_TYPE_M         9392
PHI_TYPE_O         9392
PHI_premium_yn        0
PHI_premium           0
PHI_claim_yn          0
PHI_benefit_yn    59142
PHI_benefit       59270
year                  0
dtype: int64

In [186]:
# -9 결측값으로 변경
import numpy as np

phi[phi==-9] = np.nan
phi[phi=='-9'] = np.nan

In [187]:
phi.isna().sum()

HHID                  0
PHI_N                 0
PHI_PID               0
PIDWON1               0
PIDWON2           63691
PIDWON3           64158
PIDWON4           64228
PIDWON5           64273
PHI_Y              3895
PHI_M             19577
PHI_FORM            905
PHI_TYPE          10801
PHI_TYPE_D        10801
PHI_TYPE_C        10801
PHI_TYPE_A        10801
PHI_TYPE_N        10801
PHI_TYPE_T        10801
PHI_TYPE_AL       10801
PHI_TYPE_M        10801
PHI_TYPE_O        10801
PHI_premium_yn      803
PHI_premium        3187
PHI_claim_yn        462
PHI_benefit_yn    59142
PHI_benefit       59283
year                  0
dtype: int64

## 가구 별 단독 가입만 추출

In [188]:
# 동시가입 건수 : 21729 건
phi.loc[phi["PHI_PID"].str.len() >= 9, :]

,HHID,PHI_N,PHI_PID,PIDWON1,PIDWON2,PIDWON3,PIDWON4,PIDWON5,PHI_Y,PHI_M,...,PHI_TYPE_T,PHI_TYPE_AL,PHI_TYPE_M,PHI_TYPE_O,PHI_premium_yn,PHI_premium,PHI_claim_yn,PHI_benefit_yn,PHI_benefit,year
86,112075011.0,105.0,"11207501,11207502",11207501.0,11207502.0,NaN,NaN,NaN,2003.0,8.0,...,2.0,2.0,2.0,2.0,1.0,34980.0,2.0,NaN,NaN,2019
368,112202011.0,102.0,"11220201,11220202",11220201.0,11220202.0,NaN,NaN,NaN,2003.0,6.0,...,NaN,NaN,NaN,NaN,1.0,14790.0,1.0,1.0,365256.0,2019
879,114008011.0,103.0,"11400801,11400802",11400801.0,11400802.0,NaN,NaN,NaN,1996.0,NaN,...,2.0,2.0,2.0,2.0,3.0,40000.0,2.0,NaN,NaN,2019
968,114068011.0,102.0,"11406801,11406802",11406801.0,11406802.0,NaN,NaN,NaN,2015.0,4.0,...,2.0,2.0,2.0,2.0,1.0,38900.0,2.0,NaN,NaN,2019
1322,115106011.0,105.0,"11510602,11510603",11510602.0,11510603.0,NaN,NaN,NaN,2014.0,1.0,...,2.0,2.0,1.0,2.0,1.0,100000.0,2.0,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20736,254486011.0,105.0,"25448601,25448602",25448601.0,25448602.0,NaN,NaN,NaN,1993.0,6.0,...,2.0,2.0,2.0,2.0,3.0,29200.0,2.0,NaN,NaN,2021
20882,255068011.0,301.0,"25506801,25506802",25506801.0,25506802.0,NaN,NaN,NaN,2008.0,3.0,...,2.0,2.0,2.0,2.0,1.0,105300.0,2.0,NaN,NaN,2021
21126,255465011.0,102.0,"25546501,25546502",25546501.0,25546502.0,NaN,NaN,NaN,2006.0,3.0,...,2.0,2.0,2.0,2.0,1.0,216570.0,1.0,1.0,270000.0,2021
21140,255468011.0,108.0,"25546801,25546802,25546803,25546804",25546801.0,25546802.0,25546803.0,25546804.0,NaN,2010.0,10.0,...,2.0,2.0,2.0,1.0,1.0,36410.0,1.0,1.0,120000.0,2021
21268,300046011.0,103.0,"30004604,30004605,30004606",30004604.0,30004605.0,30004606.0,NaN,NaN,1995.0,7.0,...,2.0,2.0,2.0,2.0,3.0,42520.0,2.0,NaN,NaN,2021

In [189]:
# 독립가입 건 : 총 42546 행
phi_only = phi.loc[phi["PHI_PID"].str.len() < 9, :]

In [190]:
phi_only['year'].value_counts() # 19-21 데이터 모두 포함 잘 되었다!

year
2019    21339
2021    21207
2020    21145
Name: count, dtype: int64

In [191]:
phi_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63691 entries, 0 to 21391
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HHID            63691 non-null  float64
 1   PHI_N           63691 non-null  float64
 2   PHI_PID         63691 non-null  object
 3   PIDWON1         63691 non-null  float64
 4   PIDWON2         0 non-null      float64
 5   PIDWON3         0 non-null      float64
 6   PIDWON4         0 non-null      float64
 7   PIDWON5         0 non-null      float64
 8   PHI_Y           59828 non-null  float64
 9   PHI_M           44278 non-null  float64
 10  PHI_FORM        62788 non-null  float64
 11  PHI_TYPE        52971 non-null  object
 12  PHI_TYPE_D      52971 non-null  float64
 13  PHI_TYPE_C      52971 non-null  float64
 14  PHI_TYPE_A      52971 non-null  float64
 15  PHI_TYPE_N      52971 non-null  float64
 16  PHI_TYPE_T      52971 non-null  float64
 17  PHI_TYPE_AL     52971 non-null  float64
 18  PHI_TYPE_M      52971 non-null  float64
 19  PHI_TYPE_O      52971 non-null  float64
 20  PHI_premium_yn  62890 non-null  float64
 21  PHI_premium     60510 non-null  float64
 22  PHI_claim_yn    63229 non-null  float64
 23  PHI_benefit_yn  5060 non-null   float64
 24  PHI_benefit     4921 non-null   float64
 25  year            63691 non-null  int64
dtypes: float64(23), int64(1), object(2)
memory usage: 13.1+ MB

In [192]:
# PHI_PID, PIDWON2~5 삭제
phi_only.drop(["PHI_PID","PIDWON2","PIDWON3","PIDWON4","PIDWON5"], axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_12876\1473125934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phi_only.drop(["PHI_PID","PIDWON2","PIDWON3","PIDWON4","PIDWON5"], axis=1, inplace=True)

In [193]:
# PIDWON 변수명 변경
phi_only = phi_only.rename(columns={"PIDWON1":"PIDWON"})

In [194]:
phi_only.head()

,HHID,PHI_N,PIDWON,PHI_Y,PHI_M,PHI_FORM,PHI_TYPE,PHI_TYPE_D,PHI_TYPE_C,PHI_TYPE_A,...,PHI_TYPE_T,PHI_TYPE_AL,PHI_TYPE_M,PHI_TYPE_O,PHI_premium_yn,PHI_premium,PHI_claim_yn,PHI_benefit_yn,PHI_benefit,year
0,112003011.0,101.0,11200301.0,2004.0,NaN,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,120000.0,1.0,1.0,60000.0,2019
1,112003011.0,102.0,11200302.0,2004.0,NaN,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,118000.0,2.0,NaN,NaN,2019
2,112010011.0,101.0,11201001.0,2015.0,3.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,48710.0,2.0,NaN,NaN,2019
3,112010011.0,102.0,11201001.0,2000.0,7.0,1.0,"1,2",1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,3.0,62800.0,2.0,NaN,NaN,2019
4,112010011.0,103.0,11201002.0,2012.0,2.0,3.0,"1,2,3,8",1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,201717.0,2.0,NaN,NaN,2019

In [195]:
# csv 파일로 저장
phi_only.to_csv('C:\\Users\\user\\Desktop\\중간프로젝트\\의료패널 데이터\\csv파일\\phi_only.csv', index=False)